*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


ul, ol {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}

textarea {
    resize: none;
}